@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey-700: hsl(0, 0%, 20%);
  --Grey-800: hsl(0, 0%, 12%);
  --Grey-900: hsl(0, 0%, 8%);
}

main {
  height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: var(--Grey-900);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 327px;
  background-color: var(--Grey-800);
  box-shadow: 0 4px 4px #000;
  border-radius: 12px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  align-items: center;

  .profile-pic {
    display: block;
    width: 88px;
    img {
      width: 100%;
      border-radius: 50%;
      box-shadow: 0 4px 4px #000;
    }
  }
}

/* main {
  height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: var(--Grey-900);
  display: flex;
  justify-content: center;
  align-items: center;

  article {
    width: 327px;
    background-color: var(--Grey-800);
    padding: 24px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      border-radius: 50%;
      width: 88px;
      margin-bottom: 2rem;
    }

    h3 {
      color: var(--White);
      font-size: 2rem;
      font-weight: 500;
    }

    h4 {
      color: var(--Green);
      font-size: 1.1rem;
      font-weight: 400;
      padding: 0.5rem;
    }

    p {
      color: var(--White);
      font-size: 0.9rem;
      padding: 1rem 0;
    }

    nav {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      li {
        color: var(--White);
        font-weight: 700;
        background-color: var(--Grey-700);
        border-radius: 10px;
        text-align: center;
        width: 100%;
        padding: 1rem;
        margin: 0.5rem 0;
      }

      li:hover,
      li:active,
      li:focus {
        background-color: var(--Green);
        color: var(--Grey-800);
      }
    }
  }
} */
